In [15]:
import statsmodels.api as sm
import pandas as pd
import numpy as np

from statsmodels.graphics.tsaplots import plot_acf,acf,pacf
import warnings
warnings.filterwarnings('ignore')

# Downloading the data

In [16]:
data = pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv")
data.head()

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

# Understanding PACF

In [17]:
data['L1'] = data['Passengers'].shift(1)
data['L2'] = data['Passengers'].shift(2)
data['L3'] = data['Passengers'].shift(3)
data.fillna(method = 'bfill',inplace=True)
data.head()

     Month  Passengers     L1     L2     L3
0  1949-01         112  112.0  112.0  112.0
1  1949-02         118  112.0  112.0  112.0
2  1949-03         132  118.0  112.0  112.0
3  1949-04         129  132.0  118.0  112.0
4  1949-05         121  129.0  132.0  118.0

In [18]:
print("Correlation of Lag 1 : ",data['Passengers'].corr(data['L1']))
print("Correlation of Lag 2 : ",data['Passengers'].corr(data['L2']))
print("Correlation of Lag 3 : ",data['Passengers'].corr(data['L3']))

Correlation of Lag 1 :  0.9607370396345257
Correlation of Lag 2 :  0.8984464318603491
Correlation of Lag 3 :  0.8435827764284982

In [19]:
acf(data['Passengers'])

array([1.        , 0.94804734, 0.87557484, 0.80668116, 0.75262542,
       0.71376997, 0.6817336 , 0.66290439, 0.65561048, 0.67094833,
       0.70271992, 0.74324019, 0.76039504, 0.71266087, 0.64634228,
       0.58592342, 0.53795519, 0.49974753, 0.46873401, 0.44987066,
       0.4416288 , 0.45722376, 0.48248203, 0.51712699, 0.53218983,
       0.49397569, 0.43772134, 0.3876029 , 0.34802503, 0.31498388,
       0.28849682, 0.27080187, 0.26429011, 0.27679934, 0.2985215 ,
       0.32558712, 0.3370236 , 0.30333486, 0.25397708, 0.21065534,
       0.17217092])

In [20]:
pacf(data['Passengers'])

array([ 1.00000000e+00,  9.54677042e-01, -2.65277317e-01,  5.54695472e-02,
        1.08856215e-01,  8.11257853e-02,  4.12540544e-03,  1.56169553e-01,
        1.03708330e-01,  2.88781439e-01,  2.06918048e-01,  2.41129704e-01,
       -1.58004984e-01, -7.18324604e-01, -8.94806410e-02,  2.21605913e-01,
        1.34622533e-01,  1.15615719e-01,  1.94829396e-01,  9.66561845e-02,
       -2.02158680e-01, -9.36381005e-02, -3.45594572e-01, -1.06170206e-01,
        2.77804723e-01,  5.87815922e-02,  9.86624045e-03,  2.37687367e-01,
        9.40568218e-02, -1.47505422e-01, -1.88609051e-01, -2.52801158e-01,
       -2.57153789e-01, -1.40349613e-01,  1.88263087e-01,  1.30686258e-01,
        5.23902189e-01,  6.91426442e-01,  9.91163921e-01,  3.71021065e+01,
       -8.85334119e-01])